body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#fff, #000);
  height: 10000px;
}

div {
  width: 100px;
  height: 100px;
  font-weight: 700px;
  text-align: center;
  line-height: 100px;
}

.p-static {
  /* position: static; -> default value라서 작성 불필요 */
  /* 방향 속성 적용 불가(ex.top) */
  /* 여태 모든 요소 static -> inline요소는 오른쪽으로, block요소는 아래로 쌓임 */
  /* top: 100px; */
  background-color: lightpink;
}

/* position:relative; - 자기 자신이 기준인 상대위치(원래 위치 유지) */
/* 일반적인 흐름에 따라 배치해야 하며(원래 위치를 벗어나도 자리가 계속 비워지기 때문)
  비워져도 문서 흐름 방해 X, 방향 속성을 사용해 위치 지정 가능 */
.p-relative {
  background-color: lightsalmon;
  position: relative;
  /* left: 100px; */
  /* top: 50px; -> left, right & top, bottom 중 하나씩만 작성해야 레이아웃 깨지지 않음 */
  bottom: 30px;
  right: 15px;
}

/* position: absolute; - 절대위치 */
/* position: static 값이 아닌 가장 가까운 조상이 기준점이며 모든 조상이 static일 경우 viewport가 기준 */
/* 특정 요소 기준으로 방향 속성 지정 가능 */
/* 문서 흐름을 벗어남 - 자기 자신의 자리 없어짐 */
.p-absolute {
  background-color: lightyellow;
  position: absolute;
  top: 0;
}

/* position: fixed; -> 고정위치 */
/* viewport 기준으로 특정 위치에 배치 가능, 스크롤 상관 없이 고정되며 header, top-btn 제작 시 주로 사용 */
/* 방향 속성(top, bottom, right, left 중 하나 이상 지정 필요 */
.p-fixed {
  position: fixed;
  background-color: lightgreen;
  right: 30px;
  bottom: 30px;
}

/* position: sticky; -> 지정 위치 도달 시 해당 위치에 고정 */
/* 부모 요소 내에서만 적용되기 때문에 html 구조를 신경쓰며 사용할 것 */
.p-sticky {
  position: sticky;
  top: 0; /* viewport 최상단에 도달 시 고정 */
  background-color: lightblue;
}

.sticky-container {
  height: 1200px;
  width: 100px;
  background: linear-gradient(plum, orange);
}
